@model Product
<div class ="col-lg-4">
            <img class="img-thumbnail" src="@Model.img" alt ="@Model.name">
            <h2>@Model.name</h2>
            <p>@Model.shortDesc</p>
            <p>Цена: @Model.price.ToString("c")</p>
            <p><a class="btn btn-outline-primary" asp-controller="Products" asp-action="setFavourite" asp-route-id="@Model.id">Set Favourite@{
                if (Model.isFavourite == true)
                {
                    <img width="30px" height="30px"src="~/img/true.png"/>
                }else{
                    <img width="30px" height="30px"src="~/img/false.png"/>
                } 
            }</a> </p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart" asp-route-id="@Model.id">Add to cart</a></p>
        </div>